In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from collections import Counter
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("amended.csv")
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Plot Area,Ramamurthy Nagar,1 Bedroom,0.0,1.0,1,48.0
1,Built-up Area,Arekere,9 Bedroom,0.0,9.0,0,265.0
2,Plot Area,Sarjapur Road,4 Bedroom,1.0,4.0,0,120.0
3,Built-up Area,Srirampuram,7 BHK,5.0,7.0,3,115.0
4,Plot Area,Suragajakkanahalli,3 Bedroom,11.0,3.0,2,74.0

In [3]:
df["size"] = df["size"].astype("|S")
df["location"] = df["location"].astype("|S")
df["area_type"] = df["area_type"].astype("|S")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  |S20
 1   location    13320 non-null  |S50
 2   size        13320 non-null  |S10
 3   total_sqft  13320 non-null  float64
 4   bath        13320 non-null  float64
 5   balcony     13320 non-null  int64
 6   price       13320 non-null  float64
dtypes: bytes160(1), bytes400(1), bytes80(1), float64(3), int64(1)
memory usage: 1.4 MB

In [11]:
X = df.drop(["price"],axis=1)
X = pd.get_dummies(X)

In [12]:
y = df["price"]

In [13]:
rf = RandomForestRegressor(n_estimators=1000)

In [14]:
train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.3,random_state=2)

In [ ]:
rf.fit(train_X,train_y)

In [ ]:
predictions = rf.predict(test_X)

In [ ]:
errors = abs(predictions - test_y)
print(round(np.mean(errors), 2), 'degrees.')
mape = 100 * (errors / test_y)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
# 39.86 degrees.
# Accuracy: 64.51 %.

# 40.04 degrees.
# Accuracy: 64.54 %.

# 29.57 degrees.
# Accuracy: 76.98 %.

# 29.38 degrees.
# Accuracy: 77.11 %.