In [43]:
import pandas as pd

In [44]:
df = pd.read_csv("citiesHomePrice.csv")
df

         city  area  price
0   madhubani   500  10500
1   madhubani   600   1280
2   madhubani   700   1420
3   madhubani   800   1660
4       patna   500  15300
5       patna   600   1760
6       patna   700   1970
7       patna   800   2150
8       delhi   500  20300
9       delhi   600   2210
10      delhi   700   2440
11      delhi   800   2670
12    newyork   500  26300
13    newyork   600   2820
14    newyork   700   3060
15    newyork   800   3280

In [45]:
dummies = pd.get_dummies(df.city)

In [46]:
merged = pd.concat([df,dummies],axis ='columns')

In [47]:
p = merged.drop(['city','patna'],axis='columns')

In [48]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
x = p.drop('price',axis = 'columns')

In [49]:
y = p.price
regr = model.fit(x,y)
regr.coef_

array([  -46.775,  1610.   , -1580.   ,  3570.   ])

In [50]:
regr.predict([[1000,0,1,0]])

array([-12656.25])

In [51]:
regr.score(x,y)

0.5522107470683335