In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
seen = pd.read_csv("trakt-exported-history.csv")
watchlist = pd.read_csv("trakt-exported-watchlist.csv")

In [17]:
seen['WatchedDate'] = pd.to_datetime(seen['WatchedDate']).dt.date

In [18]:
seen = seen.drop(["tmdbID","imdbID"],axis=1)

In [19]:
z = seen["Title"]

In [20]:
seen.drop(["Title"],axis=1,inplace=True)
seen.head()

  WatchedDate    Year
0  2021-11-06  2018.0
1  2021-11-06  2021.0
2  2021-11-06  2021.0
3  2021-10-30  2021.0
4  2021-10-28  2013.0

In [21]:
seen.insert(2,"Title",z)

In [22]:
seen.head()

  WatchedDate    Year                            Title
0  2021-11-06  2018.0  Aravindha Sametha Veera Raghava
1  2021-11-06  2021.0                     Sooryavanshi
2  2021-11-06  2021.0                         Eternals
3  2021-10-30  2021.0                     Sardar Udham
4  2021-10-28  2013.0                      Madras Cafe

In [23]:
seen.to_csv("seen_movies.csv",index=False)