In [1]:
expenditure = [["January",2200],["February",2350],["March",2600],["April",2130],["May",2190]]

In [2]:
type(expenditure)

list

In [3]:
expenditure[1][1]-expenditure[0][1]

150

In [4]:
expenditure[0][1]+expenditure[1][1]+expenditure[2][1]

7150

In [5]:
expenditure.append(["June",1980])

In [6]:
expenditure

[['January', 2200],
 ['February', 2350],
 ['March', 2600],
 ['April', 2130],
 ['May', 2190],
 ['June', 1980]]

In [7]:
expenditure[3][1]-=200

In [8]:
expenditure

[['January', 2200],
 ['February', 2350],
 ['March', 2600],
 ['April', 1930],
 ['May', 2190],
 ['June', 1980]]

In [9]:
heros=['spider man','thor','hulk','iron man','captain america']

In [10]:
len(heros)

5

In [13]:
heros.pop()

'black panther'

In [17]:
heros.insert(3,"black panther")

In [18]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [19]:
heros.remove("thor")
heros.remove("hulk")
heros.append("dr strange")

In [24]:
print(sorted(heros))

['black panther', 'captain america', 'dr strange', 'iron man', 'spider man']

In [29]:
b = [i for i in range(1,int(input()),2)]
b

23

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]